.body--container{
    margin-top:100px;
    height:auto;
    width:100%;
    text-align: center;
}
.input--form{
    display: grid;
    grid-template:40px 40px/1fr 1fr ;
    gap:3rem;
    margin:0 50px;
}
.submit--button{
    grid-column: 1/-1;
    margin:0 50px;
    background:linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color:white;
    font-family: poppins;
    font-size:24px;
    border:none;
    height:40px;
    border-radius:10px;
    cursor:pointer;
}
.first--input{
    font-size:16px;
    text-indent: 20px;
    letter-spacing: 2px;
    border:2px solid purple;
}
.first--input:focus{
    border:2px solid purple;
}
.second--input{
    font-size:16px;
    text-indent: 20px;
    letter-spacing: 2px;
    border:2px solid purple;
}
.second--input:focus{
    border:2px solid purple;
}
.Image-value{
    margin:50px auto;
    position: relative;
    text-align: center;
}
.w-full {
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.w-full img{
    height:100%;
    width: 60%;
}
.Top-Text{
    position: absolute;
    top:15px;
    width:80%;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.Bottom-Text{
    position: absolute;
    bottom:15px;
    width:80%;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.meme--download {
    padding:10px;
    margin:5px;
    border-radius:10px;
    border:none;
    background:purple;
    color:white;
    letter-spacing: 1.4px;
    font-size:16px;
}
.file-design {
    display: block;
    width:200px;
    height:200px;
    border: 2px dashed purple;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    margin:auto;
}
.file-input {
    display: none;
}
.iconPlus {
    width: 100px;
}
.toFlex {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h-full {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}